
    <p-card  class="titulo" header="Consultar Tarea por ID">
      <div class="p-fluid">
        <div class="p-field mb-3">
          <label for="taskId" class="block mb-3">ID de la Tarea (UUID)</label>
          <input 
          
            id="taskId" 
            type="text" 
            pInputText 
            [(ngModel)]="taskId" 
            placeholder="Ingrese el ID de la tarea"
            pattern="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
            class="w-full botones"
          />
        </div>


        <div class="botones-container" >
              <button 
                pButton 
                label="Consultar" 
                icon="pi pi-search" 
                (click)="searchTask()" 
                [disabled]="!isValidUuid(taskId)"
                class="w-full"
              ></button>
              <button 
              pButton 
              label="Limpiar" 
              icon="pi pi-trash" 
              (click)="clearResults()" 
              class="p-button-outlined p-button-secondary flex-1 p-button-lg"
            ></button>

        </div>
      </div>      

      
      <div *ngIf="result" class="mt-4">
        <div *ngIf="result.msg" class="p-3 bg-yellow-100 text-yellow-700 border-round">
          <h3>Estado:</h3>
          <p>{{ result.msg }}</p>
          <p *ngIf="result.Pendind">Posición en cola: {{ result.Pendind }}</p>
        </div>
        
        <div *ngIf="result.Task" class="mt-3">
          <h3>Detalles de la Tarea:</h3>
          <div class="grid">
            <div *ngFor="let item of getObjectEntries(result.Task)" class="col-12 md:col-6">
              <div class="p-2 border-bottom-1 border-200">
                <strong>{{ item.key }}:</strong> {{ item.value }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-card>
  